* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}

html {
    height: 100dvh;
    overflow: hidden
}

body {
    height: 100%;
    overflow-y: auto;
}
